* {
  margin: 0;
  padding: 0;
  font-family: 'Belwe-Bold';
}

@font-face {
  font-family: 'Belwe-Bold';
  src: url('./assets/Belwe-Bold.eot');
  src: url('./assets/Belwe-Bold.eot') format('embedded-opentype'),
       url('./assets/Belwe-Bold.svg') format('svg'),
       url('./assets/Belwe-Bold.ttf') format('truetype'),
       url('./assets/Belwe-Bold.woff') format('woff'),
       url('./assets/Belwe-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}