.sidebar {
  position: fixed;
  right: 0;
  width: 350px;
  z-index: 9999;
  height: 100vh;
  background-image: url(https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_filter_tabletmobile-f66d0c6366cb3334fc5246473ab8119d0475da02aca45b6883dafd23def2ee874f4cdf148590e2eff13104847e3b7b7e0d3eb105157b952977f96fc1d8dd3ab5.jpg);
  transform: translateX(100%);
  transition: all 300ms ease;
}

.active {
    transform: translateX(0) !important;
}

.sidebar__content {
    padding: 0 16px;
}

.sidebar__content > h1 {
    color: white;
    font-size: 16px;
    padding-top: 8px;
}

.closeFilter__button {
  color: white !important;
}

.applyFilter__button{
  background-color: tan !important;
  background-image: none;
  color: black !important;
  margin-bottom: 8px !important;
}

select {
  border-radius: 9999px;
  border: 4px solid goldenrod;
  background-color: tan;
  margin: 8px 0;
  width: 100%;
  padding: 8px 4px;
}

li {
    list-style-type: none;
}

.sidebar__menuSection {
    border-bottom: 1px solid maroon;
}

.openFilter__button {
    border: 2px solid black !important;
    color: black !important;
    position: absolute !important;
    border-radius: 8px !important;
    right: calc(5vw);
    top: calc(50% - 20px);
    z-index: 9998;
}

@media (max-width: 768px) {
  .openFilter__button {
    position: unset !important;
    width: 120px;
    margin-bottom: 16px !important;
  }
}