.split {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 80vh;
}

.split__backgroundImg {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    transition: all 400ms ease;
}

.split__backgroundImg > img {
    min-width: 100%;
    height: 100%;
}

.split__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(300px);
    opacity: 0;
    transition: all 400ms ease;
}

.split:hover .split__content {
    transform: translateY(0);
    opacity: 1;
}

.split:hover .split__backgroundImg{
    filter: brightness(0.7);
    transform: scale(1.07);
}
.split__content > p {
    z-index: 999;
    text-align: center;
    font-size: 24px;
    color: white;
    max-width: 360px;
}

.split__button {
    margin-bottom: 16px !important;
    font-size: 28px !important;
}

@media (max-width: 580px) {
    .split__content {
        transform: translateY(0);
        opacity: 1;
        margin: 0 16px;
        width: unset;
    }
}